#content {
    max-width: 1600px;
    width: 100%;
    background-color: white;
    margin: 0 auto;
}

body {
    background-color: #e4f1df;
    font-family: 'source sans', trebuchet, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;

}

.home-title {
    color: #1D3557;
    font-family: Bitter, georgia, serif;
    font-size: 2em;
    margin-top: 10px;
}

#logolink {
    padding-top: 5px;
}

.logobox {
    width: 80px;
}

nav {
    background-color: #F1FAEE;
    margin: 25px 0 25px;
    }


nav a { 
    text-align: center;
    color: #1D3557;
    text-decoration: none;
    padding: 35px;
    
    
}

nav a:hover {
    background-color: #B61624;
    color: #F1FAEE;
    padding-top: 0;
}

#hero-img {
    width: 100%;
}
#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;

}

.icon {
    width: 80px;
    padding-top: 10px;
}

.button-box {
    background-color: #ffffff;
    text-align: center;
}
#background {
    height: 725px;
    background-color: #457B9D;

}

#herobox {
    text-align: center;
    background-color: #F1FAEE;
}

/*.book {
    text-decoration: none;
    color: #1D3557;
    padding: 25px;
    padding: 15px 30px;
    margin-top: 50px;
    font-size: 18px;
}*/
.home-grid {
    text-align: center;
    padding-top: 25px;
}
.mountains {
    padding-top: 25px;
    display: block;
    text-align: left;
}
.msg {
    background-color: #457B9D;
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 1.5em;
    padding: 35px;
}
header {
    background-color: #1D3557;
}

footer {
    background-color: #1D3557;
    color: #F1FAEE;
    font-size: 1.2em;
    padding: 25px 50px;
    margin-top: 200px;
    
}

footer p {
    padding: 25px;
}

footer a {
    color: #F1FAEE;
    text-decoration: none;
}

footer a:hover {
    color: #d3ff5a

}
footer .social img {
    padding-top: 15px;
}
.social {
    background-color: #1D3557;
}

.book, .join {
    background-color: #1D3557 ;
    color: #F1FAEE;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    /*border: solid 2px #F1FAEE ;*/
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px auto;
}

.card-img {
    border: 10px solid #457B9D;
}

.msg h2 {
    font-family: Bitter, Georgia, 'Times New Roman', Times, serif;
}

 

 
.msg p {
    font-size: .8em;
    padding-bottom: 15px ;
}

h2 {
    margin: 0;
}

main section img {
    box-sizing: border-box;
}